body {
    margin: 0%;
    overflow-x: hidden;
}

.content1{
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;       
    height: 100vh;
    background-color: rgb(132,149,156);
    z-index: 1000;
}
.content2 {
    
    margin-left: 25%; 
    width: 75%;
}

.flex-column a { 
    color: white;
 } 

.himg{
    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1000;
}
.name1 {
    position: relative;
    color: rgb(241, 235, 235);
    z-index: 0;
   text-align: center;
   justify-content: center;
}
.pad{
    padding-top: 300px;
}
.ani{
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
  animation: typing steps(30,end) forwards infinite 10s, blink 0.5s step-end infinite  
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 425px;
    }
}
@keyframes blink{
50%{
border-color: transparent;
}
}
.second {
    padding-top: 50px;
    padding-bottom: 103px;
}

.abo {
    text-align: center;
    color:rgb(38,74,115);
}
.para {
    margin-top: 30px;
    text-indent: 50px;
    color:rgb(65, 102, 145);
}
.info {
    margin-top: 120px;
}

.img {
    height: 300px;
    width: 320px;
    margin-top: 40px;
    margin-left: 20px;
}
.bio {
    color:  rgb(38,74,115);
    font-size: 30px;
    margin-left: 340px;
    margin-top: 30px;
}
b{
  color:  rgb(38,74,115);  
}
.personal {
    margin-left: 30px;
    margin-top: 40px;
    font-size: 20px;
}

#education{
    padding-top: 60px; 
    padding-bottom: 180px;
    overflow: hidden;
}

.abo2{
    text-align: center;
    color:rgb(38,74,115) ;
    padding-bottom: 60px;
}
.no1 {
    text-align: center;
    margin-top: 20px;
}
.eimg{
    height: 220px;
    width: 220px;
    margin-left: 21px;
}
.eh{
    padding-top: 40px;
}
.skills{
    padding-top: 40px;
    padding-bottom: 100px;
}
.simg{
    height: 60px;
    width: 60px;  
}

.skill{
    padding-top: 10px;
}

.sk1{
     margin-bottom: 30px;
}
progress {
    width: 500px;
    height: 20px;
}

.resume1 {
    margin-top: 30px;
}

.project {
   overflow: hidden;
    padding-top: 30px;
    padding-bottom: 198px;
}

.pimg{
    height: 180px;
}
.pwi{
    width: 90%;
}

.head {
    text-align: center;
    margin-top: 20px;
}
.head1{
    padding-bottom: 60px;
    color:rgb(38,74,115) ;
}

.exp {
   padding-bottom: 100px;
}

.exp img{
    height: 190px;
   
}

[dark-theme="dark"] body{
    color: white;
    background-color: black;
}


.light{
    background-color:white;
    color: black;
}
.dark {
    background-color: rgb(132,149,156);
    color: white;
}
.dark .card{
    background-color: rgb(132,149,156);
    color: white;
}
